pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
wikipedia
langchain-anthropic
langchain_huggingface
defusedxml
pypdf
arxiv
fitz
pymupdf
tweepy
langchain_google_genai
faiss-cpu
langchain-pinecone
